<%= content_for :title, 'Genre' %>

<div class="box">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<p>
  <b>Song(s):</b>
  <% @genre.songs.each do |song| %>
    <%= link_to song.name, song %>
  <% end %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>

</div>
