<h1>Listing comments</h1>

<div class="box">
<table>
  <tr>
    <th>Content</th>
    <th>Song</th>
    <th>User</th>
    <th>Date</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= comment.song.name %></td>
    <td><%= comment.user.name %></td>
    <td><%= comment.created_at.to_formatted_s(:long) %></td>
    <td><%= link_to 'Show', comment %></td>
    <% if current_user.id == comment.user_id%>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
