<%= content_for :title, 'Lyrik' %>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'All songs in genre', genre_path %>

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @song.user.image, class: 'user_image' %>
</p>

<p>
  <%= @song.user.username %>
</p>

<p>
  <%= @song.name %>
</p>



<p>
  <%= @song.rating %>
</p>

<p>
  <%= audio_tag @song.lyrik, controls: true, class: 'song_lyrik' %>
</p>

<p>
  <% @song.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>

</p>

<p>
  <%= link_to "write a comment", new_comment_path %>
  <% @song.comments.each do |comment| %>
    <%= comment.name %>
  <% end %>

</p>


